!!!
%html
  %head
    %title Verification System - Admin panel
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'active_scaffold'
    = javascript_include_tag 'active_scaffold'

    = csrf_meta_tags
  %body
    = yield
