!!!
%html
  %head
    %title Verification System - Admin panel
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'active_scaffold'
    = javascript_include_tag 'active_scaffold'
    = favicon_link_tag 'favicon.png', :rel => 'icon', :type =>  'image/png'
    = favicon_link_tag 'favicon.png', :rel => 'apple-touch-icon', :type =>  'image/png'

    = csrf_meta_tags
  %body
    = yield
